html, body{
    font-family: monospace;

    overflow: hidden;

    height: 100%;
    margin: 0;

    background: #f2f2f2 url;
}

h1 {
    font-size: 11px;
    font-weight: 300;

    position: absolute;
    top: 0;
    left: 0;

    display: inline;

    margin: 0;
    padding: 6px 15px 8px 12px;

    text-transform: uppercase;

    opacity: .95;
    color: #fff;
    background: #111;
}

#more {
    font-size: 10px;

    position: absolute;
    top: -100px;
    left: 50%;

    width: 120px;
    margin-left: -60px;
    padding: 10px 0;

    -webkit-transition: top 300ms ease-in-out;
       -moz-transition: top 300ms ease-in-out;
        -ms-transition: top 300ms ease-in-out;
         -o-transition: top 300ms ease-in-out;
            transition: top 300ms ease-in-out;
    text-align: center;

    color: #fff;
    background: rgba(0,0,0,.8);
}

#more .arrow {
    font-size: 24px;
    font-weight: bold;

    display: block;
}
